<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ResxUnusedFinder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <userSettings>
        <ResxUnusedFinder.Properties.Settings>
            <setting name="ProjectFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="ResourceFile" serializeAs="String">
                <value />
            </setting>
            <setting name="Extensions" serializeAs="String">
                <value />
            </setting>
            <setting name="ReferenceFormats" serializeAs="String">
                <value />
            </setting>
            <setting name="ExcludePrefixes" serializeAs="String">
                <value />
            </setting>
            <setting name="MainWindowPlacement" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyColumnWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ValueColumnWidth" serializeAs="String">
                <value>350</value>
            </setting>
        </ResxUnusedFinder.Properties.Settings>
    </userSettings>
</configuration>